# Ignore virtual environment directories
venv

# Ignore Python cache files
__pycache__
*.pyc
*.pyo

# Ignore local environment configuration
.env

# Ignore other unnecessary files and directories
.git
.idea
.vscode
